html,
body {
  height: 100%;
  margin: 0;
}

.loginComponentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suggestInscription:hover {
  color: blue;
}
