.homeText {
  display: flex;
  height: 35vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inscriptionBtn {
  border: 2px solid #000000a9;
  border-radius: 8px;
  padding: 6px 10px;
  background-color: #ffec9998;
  width: 16vw;
  height: 8vh;
  font-size: 1.3em;
  cursor: pointer;
}
