.carbonEmissionFormContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vh;
  background-color: #8db35b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carbonEmissionFormContainer h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 5vh;
}

.formCalculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 30vw;
  height: 35vh;
  background-color: #d18b22;
  position: relative;
}

input[type="text"] {
  width: 50%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="number"] {
  width: 30%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.labelDeparture {
  margin-top: 3vh;
  margin-bottom: 5px;
}

.labelArrival {
  margin-top: 5vh;
  margin-bottom: 5px;
}

.displaySuggestDeparture {
  list-style: none;
  width: 50%;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: auto;
  height: auto;
  max-height: 15vh;
  position: absolute;
  top: 86px;
}

.displaySuggestArrival {
  list-style: none;
  width: 50%;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: auto;
  height: auto;
  max-height: 15vh;
  position: absolute;
  top: 192px;
}

.customListItem {
  cursor: pointer;
  padding: 5px;
}

.customListItem:hover {
  background-color: #884451;
}
