* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cerebri";
  src: url("../src/fonts/cerebri/CerebriSansPro-Bold.ttf") format("truetype");
  /* Ajoutez des variantes de la police si nécessaire */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../src/fonts/cerebri/CerebriSansPro-ExtraLight.ttf")
    format("truetype");
  /* Ajoutez des variantes de la police si nécessaire */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../src/fonts/cerebri/CerebriSansPro-Light.ttf") format("truetype");
  /* Ajoutez des variantes de la police si nécessaire */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../src/fonts/cerebri/CerebriSansPro-Medium.ttf") format("truetype");
  /* Ajoutez des variantes de la police si nécessaire */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../src/fonts/cerebri/CerebriSansPro-Regular.ttf") format("truetype");
  /* Ajoutez des variantes de la police si nécessaire */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cerebri", sans-serif;
  font-weight: bold;
  background-color: #ffec9998;
}
